.idea/Orchestra-Assignment.iml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/modules.xml
.idea/modules.xml
_notes/dwsync.xml
.idea/modules.xml
*.xml
.idea/modules.xml
.idea/modules.xml