@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Prosto+One);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);

/* --- Begin ALL styles --- */
* {
	margin: 0;
	border: 0;
	padding: 0;
}
body {
	background: #2c2d2b;
	font: 14px/20px Arial, Sans-Serif;
	color: #94d7e9;
	margin: auto;	
	max-width: 100%;
}
h1 {
	text-align: center;
	text-shadow: 3px 2px #000;
	font-size: 180%;
	line-height: 120%;
	margin-top: 10px;
	padding: 5% 0 2% 0;
	font-family:"Josefin Sans", Geneva, sans-serif;
}
h2 {
	text-align: center;
	line-height: 100%;
	padding-left: 2%;
	margin-top: 1em;
	font-family:"Josefin Sans", Geneva, sans-serif;
}
h3 {
	text-align: center;
	line-height: 110%;
	padding: 5%;
	font-family:"Josefin Sans", Geneva, sans-serif;
}
h4 {
	text-align: center;
	line-height: 110%;
	padding: 5px;
}
p {
	padding: 1%;
}
img {
	text-align: center;
	max-width: 100%;
	height: auto;
	width: auto;
}
summary {
	font-size: 120%;
	font-family:"Josefin Sans", Geneva, sans-serif;
	font-weight: bold;
}
.bio_img {
	width: 29%;
	min-width: 250px;
	margin: 10px auto;
	float: left;
	text-align: center;
}
.bio_img2 {
	width: 21%;
	/*min-width: 250px;*/
	padding: 5px;
	float: left;
	text-align: center;
}
a {
	text-decoration: none;
	color: #3c7888;
}
a:hover {
	color: #FFF;
	text-decoration: underline;
}
.anchor{
	display: block;
	height: 110px; /*must be same height as header*/
	margin-top: -110px; /*must be same height as header*/
	visibility: hidden;
}
#header {
	background: #94d7e9;
	width: 100%;
	height: 110px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 300;
	background: url(images/background.jpg) no-repeat center;
	background-size: cover;
}
#logo {
	float: left;
	width: 100%;
	margin-top: 1.5em;
	height: 86px;
	background: url(images/logo_large.png) no-repeat center;
	background-size: contain;
}
ul {
	list-style: none;
}
.main {
	margin: auto;
	width: 90%;
	max-width: 900px;
	padding-bottom: 20px;
}
table {
  	width: 90%;
	max-width: 600px;
	margin: auto;
	margin-bottom: 20px;
}
td {
	width: 25%;
	text-align: left; 
	vertical-align: top; 
	border-collapse: collapse;
	padding: 0.3em;
	caption-side: bottom;
}
caption {
	padding: 0.3em;
}
td {
	border: none;
	text-align: center;
}
table.newsletter {
	border: 1px solid #666;
}
table.bordered_table tr {
	border: 1px solid #666;
}
table.bordered_table td {
	border: 1px solid #666;
}
table.contact_table {
	width: 100%;
}
td.contact_table_c1 {
	width: 30%;
	text-align: left;
}
td.contact_table_c2 {
	width: 70%;
}
textarea { 
    resize: vertical;
	width: 100%;
}
input {
	width: 100%;
}
#doc {
	margin: 40px;
}
#content {
	margin: 0 auto;
	max-width: 1140px;
	margin-top: 30px;
}
.blueberry {
	max-width: 800px;
	margin-top: 30px;
}
.section {
	width: 29%;
	float: left;
	margin: 2% 2%;
	text-align: center;
}
#centered_div {
	width: 90%;
	text-align: center;
	margin: 10px auto;
}
.clear {
	clear: both;
}
.article {
	float: right;
	margin: 0 auto;
	width: 45%;
	height: auto;
	text-align: center;
}
.aside {
	float: left;
	margin: 0 auto;
	width: 45%;
	height: auto;
	text-align: center;
}
ul.events li {
	margin-top: 1em;
}
.footer {
	background: #333333;
	width: 100%;
	overflow: hidden;
	opacity: 0.90%;
}
.footer img {
	margin-bottom: 10px;
}
.footer p, .footer h3 {
	color: #3c7888;
}
.footer p a {
	color: #3c7888;
	text-decoration: none;
}
ul.social li {
	display: inline;
}
ul.social.li img {
	height: 50px;
}
.footer_second {
	border-top: 1px solid #4D4E50;
	background-color: #333333;
	max-height: 50px;
	text-align: center;
	opacity: 0.95;
	padding-bottom: 1em;
}
.galleria {
	width: 80%;
	height: 400px;
	background: #2c2b2d;
	margin-left: auto;
	margin-right: auto;
}
/* --- End ALL styles --- */

/* --- Begin navigation menu styles --- */
.nav {  
    background: #94d7e9;
	height: 30px;
    width: 100%;
	font-family:"Josefin Sans", Geneva, sans-serif;
	font-weight: bold;
	z-index: 300;
	text-align: center;
}

.nav > li { 
    position: relative;
	z-index: 200;
	display: inline-block;
	list-style: none; 
	white-space: nowrap;
}
.nav > li > ul > li{
	display: block;
}
.nav ul {
    background: #94d7e9; 
    display: none; 
    position: absolute;
    left: 0; top: 100%;
}

.nav a { 
    cursor: pointer; 
    display: block; 
	color: #2c2d2b; 
    line-height: 30px; 
    padding: 0 10px; 
}

.nav a:hover {
	color: #FFF;
	text-decoration: none;
}
.ticketing {
	background-color: #0CF;
	
}
a.has-sub:hover {
	cursor: default;
	background: #94d7e9;
	color: #2c2d2b;
}
/* --- End navigation menu styles --- */

/* --- Begin Form Styles --- */

.block_text {
    background: #0CF; /* same color as selected state on site menu */
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #2c2d2b;
	text-align: center;
	max-width: 400px;
	margin: auto;
}
textarea {
    width: 100%;
}
.button-success {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-xlarge {
	font-size: 125%;
}
button {
	float: right;
}
#name, #email, #phone {
	width: 100%;
}
#anonymous {
	width: 15px;
}
fieldset > input {
	color: #2c2d2b;
}
fieldset > textarea {
	color: #2c2d2b;
}

/* --- End Form Styles --- */